appdirs==1.4.4
argon2-cffi==21.1.0
asttokens==2.4.1
attrs==23.2.0
Babel==2.10.3
bcc==0.29.1
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
Brlapi==0.8.5
Brotli==1.1.0
bytecode==0.15.1
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
cliapp==1.20180812.1
click==8.1.6
cmdtest==0.32+git
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
command-not-found==0.3
contourpy==1.0.7
coverage==7.4.4
croniter==1.3.15
cryptography==41.0.7
cssselect==1.2.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.3.2
debugpy==1.8.0
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.0.7
distro==1.9.0
distro-info==1.7+build1
entrypoints==0.4
executing==2.0.1
fastjsonschema==2.19.0
fonttools==4.46.0
freetype-py==2.4.0
fs==2.4.16
galternatives==1.0.9
html5lib==1.1
httplib2==0.20.4
humanfriendly==10.0
hypothesis==6.98.15
idna==3.6
img2pdf==0.5.1
iotop==0.6
ipykernel==6.29.3
ipython==8.20.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
jedi==0.19.1
Jinja2==3.1.2
jsonpointer==2.0
jsonschema==4.10.3
jupyter_client==7.4.9
jupyter_core==5.3.2
jupyterlab-pygments==0.2.2
kiwisolver==0.0.0
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
libvirt-python==10.0.0
louis==3.29.0
lxml==5.2.1
lxml-html-clean==0.1.1
lz4==4.0.2+dfsg
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mpmath==0.0.0
nbclient==0.8.0
nbconvert==6.5.3
nbformat==5.9.1
nest-asyncio==1.5.4
netaddr==0.8.0
netifaces==0.11.0
notebook==6.4.12
numpy==1.26.4
oauthlib==3.2.2
ocrmypdf==15.2.0+dfsg1
olefile==0.46
packaging==24.0
pandocfilters==1.5.0
parso==0.8.3
pdfminer.six==20221105
pexpect==4.9.0
pikepdf==8.7.1
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
prometheus-client==0.19.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.0.0
py==1.11.0
pycairo==1.25.1
pycups==2.0.1
pydevd==2.10.0
Pygments==2.17.2
PyGObject==3.48.2
PyJWT==2.7.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-sip==12.13.0
pyrsistent==0.20.0
python-apt==2.7.7+ubuntu5.3
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-xlib==0.33
pytz==2024.1
pyxdg==0.28
PyYAML==6.0.1
pyzmq==24.0.1
reportlab==4.1.0
requests==2.31.0
rich==13.7.1
rlPyCairo==0.3.0
SciPy==1.11.4
screen-resolution-extra==0.0.0
Send2Trash==1.8.2
setuptools==68.1.2
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.5
ssh-import-id==5.11
stack-data==0.6.3
sympy==1.12
systemd-python==235
terminado==0.17.1
tinycss2==1.2.1
tornado==6.4
traitlets==5.5.0
ttystatus==0.38
typing_extensions==4.10.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.16.0
ufw==0.36.2
unattended-upgrades==0.1
unicodedata2==15.1.0
urllib3==2.0.7
usb-creator==0.3.16
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.42.0
widgetsnbextension==4.0.9
wrapt==1.15.0
xdg==5
xkit==0.0.0
zombie-imp==0.0.2
